<section>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.controls.email.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="loginForm.controls.email.hasError"
        >Email is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button
      class="submit-button"
      [disabled]="loginForm.invalid"
      mat-raised-button
      type="submit"
      color="primary"
    >
      Submit
    </button>
  </form>
</section>
